/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

body._lock {
  overflow: hidden;
}

footer {
  margin-top: auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}

[class*="__title-main"] {
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1200 - 320)));
  line-height: 120%;
  color: #212529;
}

[class*="__btn-fill"] {
  display: inline-block;
  padding: 24px calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
  text-align: center;
  font-weight: 500;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1200 - 320)));
  line-height: 150%;
  border-radius: 5px;
  border: 2px solid #efd9b3;
  background: #efd9b3;
  color: #000;
  transition: all 0.3s ease 0s;
}

[class*="__btn-blank"] {
  display: inline-block;
  padding: 24px calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
  text-align: center;
  font-weight: 500;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1200 - 320)));
  line-height: 150%;
  border-radius: 5px;
  border: 2px solid #979797;
  background: transparent;
  color: #979797;
  transition: all 0.3s ease 0s;
}

[class*="__btn-fill"]:hover {
  border: 2px solid #fad79a;
  background: #fad79a;
  color: #000;
}

[class*="__btn-blank"]:hover {
  border: 2px solid #797474;
  color: #797474;
}

.btn-main {
  background-color: rgba(0, 0, 255, 50%);
  border: 2px solid #fff;
  color: #fff;

  height: 83px;
  display: inline-block;
  padding: 24px calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
  text-align: center;
  font-weight: 500;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1200 - 320)));
  line-height: 150%;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.btn-main:hover {
  transform: translateY(-10px);
  border: 2px solid transparent;
}

.photo__wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2 1fr);
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 30px;
  width: 100%;
}

.photo__square {
  grid-column: span 2;
  grid-row: span 2;
  height: 334px;
  min-width: 40%;
}

.photo__column {
  grid-row: span 2;
  height: 334px;
  min-width: 20%;
}

.photo__row {
  grid-column: span 2;
  height: 159px;
  min-width: 40%;
}

.photo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.photo__small-square {
  height: 159px;
  min-width: 20%;
}

.photo__link {
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__menu {
  margin-top: 40px;
  color: #fff;
}

.menu__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 100px;
}

.menu__items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 54px;
}

.lang {
  display: flex;
}

.menu__logo {
  font-size: 30px;
  margin-right: 70px;
}

.menu__link {
  display: inline-block;
  font-size: 18px;
  line-height: 120%;
}

.menu__link:hover {
  color: #efd9b3;
}

.menu__btn-fill {
  display: none;
}

.menu__icon {
  display: none;
}

.intro {
  min-height: 100vh;
  width: 100%;
  background: url("../image/main-bg.jpg") no-repeat center;
  background-size: cover;
  object-fit: cover;
  padding-top: 228px;
  color: #fff;
  margin-bottom: 50px;
}

.intro__block {
  margin-bottom: 60px;
}

.intro__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
}

.title-bg {
  background-color: rgba(0, 0, 255, 50%);
}

.intro__sub-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #efd9b3;
  margin-bottom: 25px;
}

.intro__item {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  padding-bottom: 10px;
  padding-left: 20px;
}

.intro__btn {
  display: flex;
  padding: 24px calc(5 + (35 - 5) * ((100vw - 320px) / (1200 - 320)));
  column-gap: 24px;
  width: 100%;
}

.btn-intro__btn-fill,
.btn-intro__btn-blank {
  width: 300px;
  margin-bottom: 20px;
}

.about__title-main {
  margin-bottom: 36px;
}

.about__column {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  margin-bottom: 58px;
  width: 100%;
}

.column-about__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 10px;
  row-gap: 10px;
  width: 280px;
}

.column-about__item {
  position: relative;
  display: block;
  border-radius: 7px;
  height: 128px;
  width: 120px;
}

.column-about__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
}

.column-about__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.column-about__text {
  width: 100%;
  height: 100%;
  padding: 21px 23px 24px 23px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  border-radius: 7px;
}

.column-about__text span {
  font-size: 30px;
  font-weight: 500;
  line-height: 120%;
}

.column-about__text--fill {
  background-color: #ece7dc;
}

.watch-plan {
  padding-top: 70px;
  border: 1px solid #d9d9d9;
}

.watch-plan::after {
  content: "";
  display: block;
  position: absolute;
  background: url("../image/magnifier.png") no-repeat;
  background-size: contain;
  top: 24px;
  left: 50%;
  height: 34px;
  width: 34px;
  transform: translateX(-50%);
  z-index: 2;
}

.map-column {
  flex: 1 1 70%;
  border-radius: 5px;
  overflow: hidden;
  height: 266px;
  width: 70%;
}

.map-column__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.map-column__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-column__text {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 74px;
  height: 46px;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.map-column__text span {
  font-size: 30px;
  line-height: 100%;
  color: #fff;
}

.map-column__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 6px 14px 6px 36px;
  background-color: #e8dcc7;
  border-radius: 18px;
  font-size: 14px;
  line-height: 150%;
  transition: all 0.3s ease 0s;
}

.map-column__btn:hover {
  background-color: #fff;
  transform: translateY(5px);
}

.map-column__btn::after {
  content: "";
  display: block;
  position: absolute;
  background: url("../image/map-ico.png") no-repeat;
  background-size: contain;
  left: 14px;
  bottom: 6px;
  width: 13px;
  height: 20px;
}

.about__row {
  margin-bottom: 30px;
}

.row-about__items {
  display: flex;
  flex-wrap: wrap;
}

.row-about__item {
  position: relative;
  padding: 0px 15px;
  width: 25%;
  height: 176px;
  text-align: center;
}

.row-about__item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150px;
  height: 4px;
  border-radius: 10px;
  background-color: #e8dcc7;
  transform: translateX(-50%);
  opacity: 0.31;
}

.row-about__num {
  text-align: center;
  font-size: 36px;
  line-height: 150%;
  color: #212529;
  margin-bottom: 10px;
}

.row-about__text {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #212529;
}

.row-about__img {
  margin: 0 auto 8px;
  width: 70px;
  height: 62px;
}

.complex {
  background-color: rgba(230, 222, 208, 18%);
}

.complex__title-main {
  margin-top: 70px;
  margin-bottom: 44px;
}

.complex__planning {
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.complex__btn-fill {
  width: 40%;
}

.price__title-main {
  margin-top: 72px;
  margin-bottom: 60px;
}

.price__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  color: rgb(33, 37, 41);
  margin-bottom: 32px;
  width: 100%;
}

.price__card {
  padding: 27px;
  background-color: #f7f3f3;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 10px 18px 0px;
  border-radius: 11px;
  min-width: 30%;
}

.card-price__photo {
  margin-bottom: 30px;
  width: 100%;
  height: 226px;
  border-radius: 5px;
  overflow: hidden;
}

.card-price__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.card-price__sub-title {
  font-style: 16px;
  line-height: 150%;
  color: rgb(189, 189, 189);
  margin-bottom: 6px;
}

.card-price__title {
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 8px;
}

.card-price__list {
  margin-bottom: 16px;
}

.card-price__info {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 120%;
}

.card-price__cost {
  font-family: "Helvetica", sans-serif;
  font-size: 30px;
  line-height: 150%;
  margin-bottom: 24px;
}

.card-price__btn {
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.card-price__btn-blank,
.card-price__btn-fill {
  width: 100%;
}

.payment__content {
  display: flex;
  column-gap: 20px;
  padding: 40px 66px 60px;
  margin-bottom: 152px;
  border: 3px solid #e8dcc7;
  border-radius: 5px;
}

.payment__info {
  max-width: 60%;
  min-height: 120px;
}

.live-info-sub-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: rgb(189, 189, 189);
  margin-bottom: 6px;
}

.info-payment__title-main {
  margin-bottom: 36px;
}

.info-payment__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(33, 37, 41);
}

.payment__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.contact-payment__text {
  margin-bottom: 26px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: rgb(155, 140, 112);
}

.contact-payment__btn-fill {
  width: 100%;
}

.header-cottages__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
  margin-bottom: 36px;
}

.header-cottages__tabs {
  display: flex;
  width: 261px;
  height: 42px;
  border: 2px solid rgb(232, 220, 199);
  border-radius: 21px;
  overflow: hidden;
  align-items: center;
}

.tabs__btn {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: rgb(196, 184, 163);
  background-color: rgb(255, 255, 255);
  padding: 6px 40px 8px;
  align-items: center;
  cursor: pointer;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s;
  font-weight: 400;
  line-height: 150%;
  font-size: 18px;
}

.tabs__btn--active {
  color: rgb(255, 255, 255);
  background-color: rgb(232, 220, 199);
  background-size: 70px 300px;
}

.cottages__body {
  display: none;
}

.cottages__body--active {
  display: block;
}

.exterior-cottage {
  margin-bottom: 56px;
}

[class*="__title-cottage"] {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 2.7px;
  color: #212529;
  margin-bottom: 16px;
}

.cottages__watch {
  cursor: pointer;
  position: relative;
  display: block;
  min-width: 20%;
  height: 159px;
  border-radius: 5px;
  border: 1px solid rgb(232, 220, 199);
  color: rgb(155, 140, 112);
  text-align: center;
  padding-top: 115px;
}

.cottages__watch::after {
  content: "";
  display: block;
  position: absolute;
  background: url("../image/three-icon.svg") no-repeat;
  background-size: 45px;
  background-position: center;
  width: 45px;
  height: 15px;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
}

.cottages__interior {
  margin-bottom: 60px;
}

.btn-cottages__row {
  display: flex;
  column-gap: 10px;
}

.btn-cottages__btn-fill,
.btn-cottages__btn-blank {
  width: 277px;
}

.profit__title-main {
  margin-top: 100px;
  margin-bottom: 40px;
}

.card-profin {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 4%;
  margin-bottom: 92px;
}

.card-profin__item {
  position: relative;
  min-width: 276px;
  height: 410px;
  min-width: 30%;
  border-radius: 7px;
  background-color: #f2eee6;
  overflow: hidden;
}

.card-profin__item:last-child {
  background-color: transparent;
}

.item-card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  background-color: rgba(0, 0, 0, 30%);
}

.item-card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 7px;
  object-fit: cover;
}

.item-card__title {
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  line-height: 120%;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #fff;
}

.item-card__text {
  display: inline;
  font-family: "Helvetica", sans-serif;
  padding: 0px 28px;
  margin-bottom: 58px;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1200 - 320)));
  line-height: 120%;
  color: #fff;
}

.item-card__link {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding-top: 50px;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}

.item-card__link::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../image/map-ico-white.png") no-repeat center;
  background-size: contain;
  top: 0;
  left: 40px;
  width: 39px;
  height: 39px;
  margin-bottom: 8px;
}

.tech__title-main {
  margin-bottom: 60px;
}

.tech__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 58px;
}

.tech__item {
  position: relative;
  width: 33.33%;
  height: 127px;
  padding: 8px 8px 8px 88px;
}

.tech__img {
  position: absolute;  
  top: 8px;
  left: 8px;
  z-index: 50;
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.tech__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #212529;
}

.tech__text span {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

.place {
  background-color: rgba(230, 222, 208, 18%);
}

.place__body {
  display: flex;
}

.place__map {
  flex: 0 0 50%;
  width: 100%;
  height: 804px;
}

.place__map iframe {
  height: 100%;
  width: 100%;
}

.place__content {
  min-width: 50%;
  padding-left: 2%;
}

.place__title-main {
  margin-top: 20px;
  margin-bottom: 10px;
}

.place__text {
  font-family: "Helvetica", sans-serif;
  width: 213px;
  color: #212529;
  margin-bottom: 20px;
}

.place__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.item-place__img {
  width: 43px;
  height: 43px;
  object-fit: cover;
  margin-right: 20px;
}

.item-place__text {
  color: rgb(33, 37, 41);
}

.place__btn-fill,
.place__btn-blank {
  width: 100%;
  margin-bottom: 16px;
}

.footer {
  background-color: #212121;
}

.footer__contact {
  padding: 20px;
}

.contact-footer__item {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 10px;
}

.contact-footer__link {
  display: inline-block;
}

.contact-footer__address {
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 10;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__bg {
  width: 100vw;
  height: 100vh;
  padding: 39px 50px;
  background-color: rgba(0, 0, 0, 0.35);
}

.popup__content {
  display: block;
  margin: 0 auto;
  min-width: 60%;
  height: 586px;
  background-color: #f6f6f6;
}

.content-popup__body {
  width: 100%;
  height: 461px;
  padding: 50px 30px 40px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.082) 0px 2px 34px 0px;
  background-color: #fff;
}

.content-popup__title {
  margin-bottom: 46px;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  line-height: 120%;
}

.content-popup__head {
  position: relative;
}

.content-popup__close {
  position: absolute;
  display: block;
  top: -5px;
  right: -15px;
  width: 32px;
  height: 32px;
}

.content-popup__line-left,
.content-popup__line-right {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 10%;
  transform: translateY(-50%);
  background-color: #e8dcc7;
}

.content-popup__line-left {
  transform: rotate(45deg);
}

.content-popup__line-right {
  transform: rotate(-45deg);
}

.form-popup__input {
  width: 100%;
  padding: 18px 20px;
  margin-bottom: 22px;
  border-radius: 6px;
  border: 2px solid #e8dcc7;
  font-size: 16px;
  line-height: 150%;
  color: #535353;
}

.form-popup__btn-fill {
  width: 100%;
  margin: 25px 0;
}

.footer-popup__title {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 500;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
  line-height: 150%;
  color: #000;
}

.footer-popup__phone {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  line-height: 150%;
  color: #9b8c70;
}

@media (max-width: 992px) {
  .menu__list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: auto;
    background-color: #f6f6f6;
    transition: all 0.3s ease 0s;
  }
  .menu__list--active {
    right: 0;
  }
  .menu__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .menu__item {
    margin-bottom: 30px;
  }
  .menu__link {
    display: inline-block;
    font-size: 24px;
    line-height: 120%;
    color: #000;
  }
  .menu__btn-fill {
    display: block;
  }
  .menu__icon {
    cursor: pointer;
    position: fixed;
    top: 50px;
    right: 2%;
    display: block;
    width: 30px;
    height: 18px;
    z-index: 7;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #b18e52;
    transition: all 0.3s ease 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }
  .menu__icon--active span {
    transform: scale(0) translateY(-50%);
  }
  .menu__icon--active::before {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    background-color: #b18e52;
  }
  .menu__icon--active::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
    background-color: #b18e52;
  }
}

@media (max-width: 768px) {
  .photo__wrap {
    grid-template-columns: repeat(4, 1fr);
  }
  .photo__square {
    grid-column: span 4;
    min-width: 100%;
  }
  .photo__column {
    grid-column: span 2;
    min-width: 50%;
  }
  .photo__row {
    min-width: 50%;
  }
  .photo__small-square {
    grid-column: span 2;
    min-width: 50%;
  }
  .intro__block {
    text-align: center;
  }
  .intro__btn {
    flex-wrap: wrap;
  }
  .btn-intro__btn-fill,
  .btn-intro__btn-blank {
    margin: 0 auto 20px;
    min-width: 70%;
  }
  .about__column {
    flex-direction: column;
  }
  .column-about__items {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .column-about__item {
    width: 48%;
  }
  .map-column {
    min-width: 100%;
  }
  .row-about__item {
    min-width: 100%;
    padding-top: 20px;
  }
  .row-about__item::after {
    width: 100%;
  }
  .complex__btn-fill {
    width: 100%;
  }
  .price__card {
    grid-column: span 3;
    min-width: 100%;
    margin-bottom: 50px;
  }
  .card-price__photo {
    min-height: 350px;
  }
  .payment__content {
    flex-direction: column;
    row-gap: 50px;
    padding: 20px 40px 30px;
  }
  .payment__info {
    min-width: 100%;
  }
  .header-cottages__content {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-cottages__title-main {
    margin-bottom: 20px;
  }
  .header-cottages__tabs {
    min-width: 100%;
  }
  .cottages__watch {
    display: none;
  }
  .btn-cottages__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .btn-cottages__btn-fill,
  .btn-cottages__btn-blank {
    min-width: 100%;
  }
  .card-profin__item {
    grid-column: span 3;
    width: 100%;
  }
  .tech__item {
    min-width: 100%;
  }
  .place__body {
    flex-direction: column-reverse;
  }
  .place__btn-fill,
  .place__btn-blank {
    min-width: 100%;
  }
  .place__map {
    min-height: 400px;
    background-color: #212121;
  }
  .place__map iframe {
    min-height: 400px;
  }
}

@media (max-width: 576px) {
  .payment__content {
    padding: 20px 20px 30px;
  }
  .contact-footer__item {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .content-popup__close {
    top: -30px;
  }
  .form-popup__btn-fill {
    width: 80%;
  }
}
